In [9]:
import os
import pandas as pd

In [11]:
# init main df
main_df = pd.DataFrame()

# loop through all sub folders
for subdir, dirs, files in os.walk("C:\\Users\\abooth\\Documents\\SMU_2023\\Tableau Data Files\\2023-citibike-tripdata"):
    for file in files:
        filepath = os.path.join(subdir, file)
        
        # check if CSV data file
        if (".csv" in filepath):
            # make sample df
            df = pd.read_csv(filepath, low_memory=False)
            df = df.sample(frac=0.01, random_state=42)
            main_df = pd.concat([main_df, df], axis=0)
            print(filepath)
    
main_df = main_df.reset_index(drop=True)

C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\10_October\202310-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\10_October\202310-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\10_October\202310-citibike-tripdata_3.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\10_October\202310-citibike-tripdata_4.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\11_November\202311-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\11_November\202311-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\11_November\202311-citibike-tripdata_3.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\12_December\202312-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\12_December\202312-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\12_December\202312-citibike-tripdata_3.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\1_January\202301-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\1_January\202301-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\2_February\202302-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\2_February\202302-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\3_March\202303-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\3_March\202303-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\3_March\202303-citibike-tripdata_3.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\4_April\202304-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\4_April\202304-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\4_April\202304-citibike-tripdata_3.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\5_May\202305-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\5_May\202305-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\5_May\202305-citibike-tripdata_3.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\5_May\202305-citibike-tripdata_4.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\6_June\202306-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\6_June\202306-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\6_June\202306-citibike-tripdata_3.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\6_June\202306-citibike-tripdata_4.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\7_July\202307-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\7_July\202307-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\7_July\202307-citibike-tripdata_3.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\7_July\202307-citibike-tripdata_4.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\8_August\202308-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\8_August\202308-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\8_August\202308-citibike-tripdata_3.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\8_August\202308-citibike-tripdata_4.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\8_August\202308-citibike-tripdata_5.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\9_September\202309-citibike-tripdata_1.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\9_September\202309-citibike-tripdata_2.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\9_September\202309-citibike-tripdata_3.csv
C:\Users\abooth\Documents\SMU_2023\Tableau Data Files\2023-citibike-tripdata\9_September\202309-citibike-tripdata_4.csv

In [12]:
main_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [13]:
main_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C1F5035AEEC9FA9B,classic_bike,2023-10-18 20:50:00,2023-10-18 20:51:18,38 St & 30 Ave,6850.01,38 St & 30 Ave,6850.01,40.763989,-73.915977,40.764175,-73.915840,member
1,8B68C1E013D66EED,classic_bike,2023-10-04 17:49:06,2023-10-04 17:54:26,Myrtle Ave & Fleet Pl,4628.07,Court St & State St,4488.08,40.693563,-73.982276,40.690238,-73.992031,casual
2,5E6CF73A2EEC9B63,classic_bike,2023-10-20 00:57:29,2023-10-20 02:00:31,E 16 St & Cortelyou Rd,3070.04,7 Ave & 41 St,3192.05,40.641730,-73.963640,40.647379,-74.000911,casual
3,591BA2BD3DAE4D73,classic_bike,2023-10-20 13:32:37,2023-10-20 13:46:00,Schenectady Ave & Prospect Pl,4007.01,Malcolm X Blvd & DeKalb Ave,4648.03,40.673629,-73.933625,40.693800,-73.931140,casual
4,D318F1D6E4DF8E35,classic_bike,2023-10-25 18:06:01,2023-10-25 18:18:53,Canal St & Rutgers St,5303.08,E 13 St & 2 Ave,5820.08,40.714275,-73.989900,40.731539,-73.985302,casual

In [14]:
main_df["started_at"] = pd.to_datetime(main_df.started_at)
main_df["ended_at"] = pd.to_datetime(main_df.ended_at)

main_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C1F5035AEEC9FA9B,classic_bike,2023-10-18 20:50:00,2023-10-18 20:51:18,38 St & 30 Ave,6850.01,38 St & 30 Ave,6850.01,40.763989,-73.915977,40.764175,-73.915840,member
1,8B68C1E013D66EED,classic_bike,2023-10-04 17:49:06,2023-10-04 17:54:26,Myrtle Ave & Fleet Pl,4628.07,Court St & State St,4488.08,40.693563,-73.982276,40.690238,-73.992031,casual
2,5E6CF73A2EEC9B63,classic_bike,2023-10-20 00:57:29,2023-10-20 02:00:31,E 16 St & Cortelyou Rd,3070.04,7 Ave & 41 St,3192.05,40.641730,-73.963640,40.647379,-74.000911,casual
3,591BA2BD3DAE4D73,classic_bike,2023-10-20 13:32:37,2023-10-20 13:46:00,Schenectady Ave & Prospect Pl,4007.01,Malcolm X Blvd & DeKalb Ave,4648.03,40.673629,-73.933625,40.693800,-73.931140,casual
4,D318F1D6E4DF8E35,classic_bike,2023-10-25 18:06:01,2023-10-25 18:18:53,Canal St & Rutgers St,5303.08,E 13 St & 2 Ave,5820.08,40.714275,-73.989900,40.731539,-73.985302,casual

In [16]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362268 entries, 0 to 362267
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             362268 non-null  object
 1   rideable_type       362268 non-null  object
 2   started_at          362268 non-null  datetime64[ns]
 3   ended_at            362268 non-null  datetime64[ns]
 4   start_station_name  362077 non-null  object
 5   start_station_id    362077 non-null  object
 6   end_station_name    361230 non-null  object
 7   end_station_id      361230 non-null  object
 8   start_lat           362268 non-null  float64
 9   start_lng           362268 non-null  float64
 10  end_lat             362026 non-null  float64
 11  end_lng             362026 non-null  float64
 12  member_casual       362268 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 35.9+ MB

In [17]:
main_df.rideable_type.value_counts()

classic_bike     324750
electric_bike     36819
docked_bike         699
Name: rideable_type, dtype: int64

In [18]:
main_df.to_csv("2023_citibike_sample.csv", index=False)